* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f5f5f5;
    font-family: "Open Sans", sans-serif;
  }
  
  header {
    background-color: #2b2d42;
    color: #fff;
    padding: 1rem;
  }
  
  header h1 {
    margin: 0;
    font-weight: bold;
    text-align: center;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  #control-panel {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  #control-panel label {
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  
  #control-panel input[type="number"] {
    width: 4rem;
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    text-align: center;
  }
  
  #control-panel button {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color: #3d5a80;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #control-panel button:hover {
    background-color: #3e3f42;
  }
  
  #array-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    max-height: 700px;
    border: 2px solid #333;
    margin-bottom: 2rem;
    overflow-x: auto;
  }  
  
  .array-element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% / var(--array-length));
    height: 100%;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    color: #3d5a80;
    border: 1px solid #3d5a80;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
  }
  
  .array-element:hover {
    background-color: #3d5a80;
    color: #fff;
  }

  